*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.inputs_div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;
  display: grid;
  grid-gap: 20px;
}
input{
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  border-radius: 10px;
}
button{
  height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.profile{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}